<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >  <!-- lesson16 -->
<suite name="SuiteWithInterceptor">
    <listeners>
        <listener class-name="priority.ReverseAlphabeticalInterceptor" />
    </listeners>
    <test name="PriorityTest">
        <classes>
            <class name="priority.Priority1"/>
        </classes>
    </test>
</suite>
